p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 25px;
    margin-bottom: 0;
}

.titulo * {
    font-size: 2rem;
}

.banner-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

#primerbanner {
    margin-top: 0;
}

.banner-sobreMi img {
    width: 100%;
}

.botonNegro {
    margin: 10px;
    margin-bottom: 20px;
}

#logoM {
    font-size: 10vw;
    line-height: 100%;
    margin: 0;
}

.firma {
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-intro {
    text-align: center;
    font-size: 1.6rem;
}

footer {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 30vw;
    margin-bottom: 20px;
}