body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1E1E4B;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    padding: 10px 0;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 20px;
    height: 100%;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    font-size: 120%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.ocultar {
    display: none;
}

.botonBlanco {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 90%;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
}

section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section > * {
    margin: 20px;
}

.centrado {
    margin-top: 15px;
    text-align: center;
}

i {
    font-size: 10px;
}

.botonNegro {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
    font-weight: bold;
    padding: 13px 40px;
    border-radius: 20px;
    border: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin: 30px 0 30px 0;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconos {
    display: flex;
    align-items: center;
}

.iconos img {
    margin-left: 10px;
}

#faq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#faq h2 {
    width: 100%;
}

.img-medio {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    width: 50%;
    height: 35vh;
}

#imgfaq {
    margin: 0;
}

.faq-desplegables {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 45%;
}

.faq-desplegables li {
    width: 100%;
}

.faq-item {
    background-color: #4B4B69;
    margin: 0  20px 20px 20px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.faq-pregunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 15px 0 15px;
}

.faq-respuesta {
    display: none;
    margin: 0 15px 0 15px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.faq-respuesta p {
    margin: 0
}

.visible {
    display: block;
}

/* Estilos de el encabezado de los html de sobreMi y galeria */
.seccion {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.451);
}

.seccion i {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.seccion h1 {
    font-size: x-large;
}

.chromatic {
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
}

.chromatic.r {
    color: red;
}

.chromatic.g {
    color: green;
}

.chromatic.b {
    color: blue;
}

.owl-carousel {
    margin: 0;
}
